:root {
    --primary-color: rgb(85, 6, 85);
    --secondary-color: rgb(194, 79, 194);
    --text-color: white;

}

* {
    margin: 0;
    padding: 0;

}

nav{
    background-color: var(--primary-color);
    padding: 19px;
}

ul li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 13px;
}
li a{
    color: var(--text-color);
}
body{
    background-color: var(--secondary-color);
}

var{
    background-color: aqua;
    border: 2px solid black;
    box-sizing: border-box;
    height: 344px;
    
}